.product-card-container {
  width: 220px;
  height: 360px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 6px;
  & .top-product-card {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    gap: 8px;
    font-size: 15px;
    margin: 10px 8px;
      & .name{
        color: var(--primary-color);
      }
      & .price{
        font-size: 18px;
      }
    }
  & .middle-product-card {
    height: 200px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;  /* permite auto-ajustar una imagen sin que se pixelee */
    }
  }
  & .bottom-product-card {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
    & > * {
      width: 200px;
      display: -webkit-box;				/* Permite que el contenido tenga un comportamiento especial */
      -webkit-box-orient: vertical;		/* Orientación vertical */
      overflow: hidden;					/* Oculta el resto de contenido */
    }
    & .description {
      margin-top: 10px;
      -webkit-line-clamp: 2;			/* Limitar a máximo 2 líneas (funciona en navegadores basados en Chrome) */
      line-clamp: 2;					/* Limitar a máximo 2 líneas (funciona en navegadores no basados en Chrome) */
    }
    & .category {
      margin-bottom: 10px;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      font-weight: 500;
      color: var(--primary-color);
    }

  }

}
