.card {
        background-color: var(--secondary-color);
        border-radius: 8px;
        height: 500px;
        width: 280px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .title-card {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 30px;
          & span {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 18px;
          }
        }
        & form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          & button {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 210px;
          }
        }
      }
