body .mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-unselected-focus-icon-color: var(--primary-color);
  --mdc-checkbox-unselected-hover-icon-color: white;
  --mdc-checkbox-unselected-icon-color: var(--primary-color);
  --mdc-checkbox-unselected-pressed-icon-color: var(--primary-color);

  --mdc-checkbox-selected-focus-icon-color: var(--primary-color);
  --mdc-checkbox-selected-hover-icon-color: var(--primary-color);
  --mdc-checkbox-selected-icon-color: var(--primary-color);
  --mdc-checkbox-selected-pressed-icon-color: var(--primary-color);

  --mdc-checkbox-selected-icon-color: var(--primary-color);
}
