.product-detail-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .principal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    & .title-container {
      display: flex;
      justify-content: flex-start;
      width: 1000px;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 18px;
        & .accent-title {
          color: var(--accent-color);
        }
    }
    & .content-container {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 30px;
      margin-bottom: 100px;
      width: 1000px;
      & .panel-product{
        width: 750px;
        max-height: 360px;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        padding: 20px;
        gap: 20px;
        & .description-product{
          & span {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 16px;
          }
          & p {
            color: white;
            text-align: justify;
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 5; /*Limitar a máximo 5 líneas*/
            line-clamp: 5;
          }
        }
        & .actions{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          & span{
            color: white;
            font-weight: 500;
            font-size: 16px;
            & .price{
              color: var(--primary-color);
            }
          }
          & button {
            height: 30px;
            width: 210px;
            background-color: var(--accent-color);
            color: white;
          }
        }
      }
    }
  }
}
