.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .principal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    & .title-container {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      & .title {
        width: 1000px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    & .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 140px;
      & .card {
        background-color: var(--secondary-color);
        border-radius: 8px;
        width: 270px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        & .title-card {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          & span {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 18px;
          }
        }
        & form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 18px;
          & .forgot-password {
            margin-top: 12px;
            margin-bottom: 8px;
            color: var(--accent-color);
            font-size: 14px;
            & span {
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
        & .register-card {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
          font-size: 14px;
          color: white;
          & .link {
            color: var(--accent-color);
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
