header {
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  & .home-header-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      & img {
        width: 50px;
        height: 50px;
      }
      & h1 {
        font-size: 16px;
        color: white;
        font-weight: 500;
        margin: 0;
      }
    }
    & .search-container {
      display: flex;
      justify-content: center;
      width: 500px;
        & .search_product {
          width: 400px;
          height: 30px;
          border-radius: 8px;
          padding-left: 10px;
      }
    }
    & .buttons-container {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      & .shopping-car{
        cursor: pointer;
        & img {
        width: 35px;
        height: 35px;
      }
      }
    }
  }
}
