.register-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .principal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .title-container {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      & .title {
        width: 1000px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    & .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      max-height: 560px;
      & .card {
        max-height: inherit;
        padding-right: 5px;
        overflow-y: auto;
        background-color: var(--secondary-color);
        border-radius: 8px;
        width: 420px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
        gap: 10px;
        & .title-card {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 30px;
          & span {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 18px;
          }
        }
        & form {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          & .mat-mdc-option,
          .mat-mdc-form-field {
            font-size: 14px !important;
          }
          & mat-select {
            font-size: 14px !important;
          }
          & input.mat-mdc-input-element,
          textarea.mat-mdc-input-element {
            font-size: 14px !important;
          }
          .mat-mdc-form-field {
            width: 300px !important;
          }
          /* --- Estilos de la Imagen y Controles --- */
          & .image-section {
            flex-basis: 350px; /* Ancho fijo para la sección de imagen */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .image-preview-container {
              width: 300px;
              height: 300px;
              margin-bottom: 20px;
              overflow-y: auto;
              overflow-x: auto;
              /*-- Contenedor gris del placeholder--*/
              background-color: rgba(171, 164, 164, 0.7);
              border: 2px solid #555;

              /*-- Imagen cargada--*/
              & .image-preview {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            & .file-controls-group {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              gap: 10px;
              /*Estilos al nombre del archivo*/
              & .file-name-display {
                width: 300px;
                border: 1px solid #555;
                padding: 8px;
                border-radius: 4px;
                background-color: rgba(190, 187, 187, 0.7);
                color: white;
                font-weight: 500;
                text-align: center;
                font-size: 12px;
              }
              /* Ocultar el input real y estilizar el Label/Proxy */
              & #file-upload {
                display: none;
              }
              /*Botón de imagen*/
              & .custom-file-upload {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                padding: 10px 15px;
                cursor: pointer;
                background-color: #00b33c; /* VERDE */
                color: white;
                border-radius: 4px;
                font-weight: 500;
                width: 180px;
                gap:5px;
                transition: background-color 0.2s;
                &:hover {
                  background-color: #009933;
                }
              }
              & button {
                color: white;
                margin-top: 10px;
                margin-bottom: 20px;
                background-color: var(--accent-color);
              }

              & .label-file {
                text-align: center;
                color: white;
                font-weight: 500;
                font-size: 13px;
              }
            }
          }
          /*--------------------------------------------*/
          & button {
            margin-top: 10px;
            margin-bottom: 30px;
            width: 210px;
          }
        }
      }
    }
  }
}
