.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .filters {
    width: 950px;
    margin: 30px;
    & .form {
      display: flex;
      justify-content: space-between;
      & .cliente {
        display: flex;
        flex-direction: column;
        & .mat-mdc-form-field {
            width: 400px !important;
          }
        width: 200px;
        & .enabled {
          margin-left: -10px;
        }
      }
      & .date-range-container {
        display: flex;
        flex-direction: column;
        width: 400px;
        & .enabled {
          margin-left: -10px;
        }
        & .date-range {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  & .table {
    width: 950px;
    margin-bottom: 30px;
    & .empty-table {
      width: 100%;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .text {
        font-size: 24px;
        font-weight: 500;
        color: lightgray;
        font-style: italic;
      }
    }
  }
}
