/* You can add global styles to this file, and also import other style files */
@import '../public/styles/colors.css';
@import '../public/styles/material.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
