.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .category-filter-container {
    width: 940px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top:20px;
    & .product-category{
      font-size: 16px;
      font-weight: 500px;
      margin-top: -20px;
    }
  }
  & .product-list-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    & app-product-card {
      	cursor: pointer;
    	}
  }

}
