.register-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .principal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .title-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 15px;
      & .title {
        width: 1000px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    & .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 30px;
      height: 600px;
      & .card {
        background-color: var(--secondary-color);
        border-radius: 8px;
        width: 400px;
        height: inherit;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
        gap: 10px;
        overflow-y: auto;
        & .title-card {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          margin-bottom: 40px;
          & span {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 18px;
          }
        }
        & form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          & .mat-mdc-option,
          .mat-mdc-form-field {
            font-size: 14px !important;
          }
          & mat-select {
            font-size: 14px !important;
          }
          & input.mat-mdc-input-element,
          textarea.mat-mdc-input-element {
            font-size: 14px !important;
          }
          .mat-mdc-form-field {
            width: 300px !important;
          }
          & .botones {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            & button {
              margin-top: 10px;
              margin-bottom: 30px;
              width: 150px;
            }
            & .reset{
              background-color: var(--accent-color);
              color:white;
            }
          }
        }
        & .login-card {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 40px;
          font-size: 14px;
          color: white;
          & .link {
            color: var(--accent-color);
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
