.my-purchases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  & .mat-mdc-form-field {
    width: 1000px;
    font-size: 14px;
  }

  & .table-purchases {
    width: 1000px;
    overflow-y: auto;
    overflow-x: auto;
  }

}
