.card {
        background-color: var(--secondary-color);
        border-radius: 8px;
        height:360;
        width: 280px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & .title-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
          gap: 10px;
          & .title {
            line-height: 20px;
            color: var(--primary-color);
            font-weight: 500;
            font-size: 18px;
          }
          & .price {
            color: white;
            font-weight: 500;
            font-size: 16px;
            & span {
              font-weight: 500;
              color: var(--accent-color);
            }
          }
        }
        & form {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
          gap: 20px;
          & .total-container {
            color: white;
            font-weight: 500;
            font-size: 16px;
          }
          & .actions{
            margin-bottom: 40px;
            width: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            & button:not(:disabled) {
              color: white;
              background-color: var(--accent-color);
            }
          }

        }
      }
